አብደህ መሆን አለበት፣ 
ጭራሽ እግርህን አነሳህብኝ ልትቧጭረኝ በቃ አብደሃል ማለት ነው።
ቆይ አንዴ ላስረዳህ፡ እኔ ማን እንደሆንኩ ያወከኝ አልመሰለኝም፣
እኔ የ 5ተኛው ትዉልድ ግዙፍ ድመት ነኝ።
እንደምታየኝ ካንተ 2 እጥፍ እበልጣለሁ። 
ያ ማለት በ 2 ሰከንድ ዉስት ሰባብሬ ልጥልህ እችላለሁ።
አሁን ምንም አይነት ነገር ሳትል ከፊቴ እንድትጠፋ ፈቅጄልሃለሁ።
እግርህን አታንሳ እኮ ነው የምልህ።


